---
layout: default
---

{% for post in paginator.posts %}
  <article class="post">

  <h3><a href="{{ site.url }}{{ post.url }}" rel="bookmark permalink" title="{{ post.title }}">{{ post.title }}</a></h3>

    {{ post.content }}

  <div class="meta">
   <div class="published">
      Yayın tarihi: {{ post.date | date: "%d.%m.%Y" }}
      &mdash;
      <a href="{{ site.url }}{{ post.url }}#disqus_thread" title="Yorumlar">Yorumlar</a>
   </div>
  </div>


  </article>
{% endfor %}

<div class='paging'>
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href='/' class='newer'><h1>Yeni Yazılar</h1></a>
  {% else %}
    <a href='/page{{paginator.previous_page}}' class='newer'><h1>Yeni Yazılar</h1></a>
  {% endif %}
{% endif %}
{% if paginator.next_page %}
  <a href='/page{{paginator.next_page}}' class='older'><h1>Eski Yazılar</h1></a>
{% endif %}
  
  <div class='clear'></div>
</div>
