---
layout: default
---

{% for post in paginator.posts %}
  <article class="post">
  <header>
  <h3><a href="{{ post.url }}" rel="bookmark permalink" title="{{ post.title }}">{{ post.title }}</a></h3>

<h6>
        <time datetime="{{ post.date | date: '%d.%m.%Y' }}" pubdate="pubdate">{{ post.date | date: "%d.%m.%Y" }}</time>
        &bull;
      <a href="{{ site.url }}{{ post.url }}#disqus_thread"></a>
</h6>

  </header>

<div class="entry-content">
<!--<post>{{ post.content | truncatewords: 75 }}<a href='{{ post.url }}'> devamını okumak için tıklayın</a></post>-->
<post>{{ post.content }}<a href='{{ post.url }}'></a></post>

</div>

  </article>

{% endfor %}

<div class='paging'>
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href='/' class='newer'><h1>Yeni Yazılar</h1></a>
  {% else %}
    <a href='/page{{paginator.previous_page}}' class='newer'><h1>Yeni Yazılar</h1></a>
  {% endif %}
{% endif %}
{% if paginator.next_page %}
  <a href='/page{{paginator.next_page}}' class='older'><h1>Eski Yazılar</h1></a>
{% endif %}
  
  <div class='clear'></div>
</div>
